*{
    font-family: Fire Sans,Droid Sans,Helvetica Neue, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "head head head"
        "sidebar main main "
        "sidebar main main ";
}

.user-page img {
    max-width: 200px;
    max-height: 200px;
}
img {
    max-width: 200px;
    max-height: 200px;
}

a.active {
    color: burlywood;
}
/* .Sidebar{
    height:100%;
    width: 200px;
} */
h3{ color: rgb(86, 1, 167);
    
} /* Додамо відступи для заголовка таблиці */

h1 {
    margin-bottom: 20px;
  }

h5{
    margin-left: 20px;
   color: rgb(32, 15, 15);
}
/*всі товари*/
.name-img{
   margin-left: 25%;
    display: block;
}
.price{
    margin-left: 30px;
}
.btn-list{
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
    display: flex;
}
.btn-old{
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
}
/*один товар*/
.app{
    margin-left: 10px;
    display: block;
}
p>span{
color: black;
}
.btn-buyGoods{
    color:rgb(32, 15, 15);
    background: rgb(0, 150, 0);
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 3px;
}
.tabs button{
    color:rgb(32, 15, 15);
    background: rgb(0, 150, 0);
    padding: 0.4rem;
    margin-left: 0.5rem;
    border-radius: 3px;
}
/*користувачі*/
.userlist {
    border: '1px solid black';
    text-align: 'center';
    /* style={{ background: 'lightgray', padding: '5px', border: '1px solid black' }} */
}
.userlist thead tr {
    background-color: rgb(116, 202, 45);
    text-align: left;
    border: 1px solid black;
    padding: 5px;
  }
  
  .userlist th {
    padding: 10px;
  }
  
  /* Стилізація комірок таблиці */
  .userlist tbody tr {
    border: 1px solid black;
  }
  
  .userlist td {
    padding: 10px;
  }
  
 /* PaymentForm.css */

.payment-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .payment-form select,
  .payment-form input {
    width: 98%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .payment-form button {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .payment-form button:hover {
    background-color: #0056b3;
  }
  